.form-grid{
    display: grid;
    flex: 1;
    width: 100%; 
    box-sizing: border-box;
    border: #ffcc29;
margin-top: 20px;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 25px;
    padding-right: 40px;


}

.komentar{
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100% !important;
    margin-left: 25px;
    margin-right: 25px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.komentar textarea{
    width: 100% !important;
    height: 50px !important;
}


@media screen and (max-width: 800px)
{
    .form-grid{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-right: 40px;
    }

    
}


.grid-form-el{
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}

input{
    width: 100%;
    height: 25px;
}

select{
    width: 100%;
    height: 25px;
}
.activities-container{
    flex: 1; /* ⬅️ this tells it to grow and take space in the flexbox */
    width: 100%; /* ⬅️ ensures the grid spans the whole available width */
    box-sizing: border-box;
border: #ffcc29;
margin-top: 40px;
display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1900px;
    grid-auto-flow: column

}



@media screen and (max-width: 1200px){
    .activities-container{
        width: 100%;
        border: #ffcc29;
        margin-top: 40px;
        display: block;
    }
}



.flex{
    display: flex;
}




.p3{
    padding: 16px !important;
}



.full-width {
    width: 100%;
   
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    border-bottom: 2px solid #ffcc29;
    padding: 16px 24px;
}

.bar{
    display: flex;
   margin-top: 15px;
   margin-right: 15px;
   flex-direction: row-reverse;

}


.bar-button{
    background-color: var(--hoarse-green);
    color: White;
    text-align: center;
    border-radius: 8px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    
    border: none;
    


}
.bar-button:hover{
    background-color: var(--button-hower-dark-hoarse-green);
    cursor: pointer;
}


  
  .sub-item {
    background: white;
    padding: 10px;
    width: 100%; /* 👈 ensures full width */
    box-sizing: border-box; /* includes padding in width */
  }


.act-form-container{

    display: flex;
    flex-direction: column;
    border: var(--hoarse-green);
    border-width: 1px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 8px;
     
    background: white;
    padding: 10px;
    height: 100%; /* optional, depends on layout */
    
  }

  

.border{

    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    flex-direction: column;
    width: 100%;
    border-color:#209c3c;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style: solid;
    border-radius: 8px;



}

.border-button{


background-color:#d1dfde;/*rgb(185, 207, 188);*/
text-align: left;
padding: 5px 10px 5px ;
font-size: medium;
/*border-bottom: rgb(171, 171, 171);*/
border-color: #c7c7c7;
border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
width: 100%;
height: 40px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
color: var(--gray-letters);

}



.border-bottom{

    
    background-color:#d1dfde;
    text-align: left;
    padding: 15px;
    font-size: medium;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    width: 100%;
    height: 40px;
    margin-top: 15px;
   
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  
    
    }

    #sacuvaj{
            float: right;
            margin-right: 5px;
            position: relative;
            bottom: 8px;
            padding: 4px;
            font-size: 14px;
           
            
    }

    #sacuvaj:disabled{
        background-color: var(--gray-letters);
        cursor:not-allowed;
    }

    #odustani{
        float: right;
            margin-right: 5px;
            position: relative;
            bottom: 8px;
            padding: 4px;
            font-size: 14px;
            background-color: rgb(255, 55, 0);
    }

    #odustani:hover{
        background-color: rgb(192, 31, 31);
    }


    .preview-button{
        width: 100%;
        height: 70px;
        margin: 20px;
        border-radius: 8px;
        border-width: 1px;
    }

    .preview-date{
        text-align: right;
        float: right;
        float: inline-end;
        display: inline;
    }

    .card {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f1f4f5; /* Light gray background */
        border-radius: 5px;
        padding: 15px 20px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        width: 100%;
        font-family: Arial, sans-serif;
      }
      
      .card:hover{
      cursor: pointer;

      }
      .left {
        display: flex;
        align-items: center;
        gap: 10px;
      }
  
      .icon {
        color: #e74c3c;
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
  
      .text {
        display: flex;
        flex-direction: column;
      }
  
      .title {
        font-weight: bold;
        color: #333;
      }
  
      .subtitle {
        color: #7f8c8d;
        font-style: italic;
        font-size: 14px;
      }
  
      .date {
        color: #333;
        font-weight: 500;
      }