
.dialog {
    align-items: center;
    -webkit-animation: fade-in .2s forwards;
    animation: fade-in .2s forwards;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


@media screen and (min-width: 900px) {
    .dialog-container {
        width: 800px;
    }
}


@media screen and (min-width: 701px) {
    .dialog-container {
        border: 1px solid #a8cf45;
        border-radius: 10px;
        max-height: 90vh;
        max-width: 90vw;
        min-width: 400px;
        padding: 24px 40px;
        width: fit-content;
    }
}
.input-item{
    display: flex;
    position: relative;
}

@media screen and (min-width: 701px) {
    .input-container {
        padding: 0 32px 0 4px;
    }
}
.dialog-container {
    width: 800px;
    background-color: #fafafa;
    box-sizing: border-box;
    overflow: auto;
}
.display-block{
    display: block;
}
.loader-container {
    position: relative;
}

.justify-right {
    justify-content: right !important;
}

.flex.column {
    flex-direction: column;
}

.gap-5 {
    gap: 32px !important;
}

.p3{
    padding: 16px !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    max-width: 600px
}

h2{
    text-align: center;
}

.label-container {
    color: rgba(0, 0, 0, .6);
    min-width: 260px;
    position: relative;
    width: 260px;
}

.iui-input-container {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    margin-top: 4px;
    position: relative;
    width: 100%;
}
img{
    width: 20px;
    height: 20px;}

.full-width {
    width: 100%;
  }

  .flex{
    display: flex;
}



#addD{
    order: 1;
}



.bar-button{
    background-color: var(--hoarse-green);
    color: White;
    text-align: center;
    border-radius: 8px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 30px;
    border: none;
    


}
.bar-button:hover{
    background-color: var(--button-hower-dark-hoarse-green);
    cursor: pointer;
}


.bar{
    display: flex;
   margin-top: 15px;
   margin-right: 15px;
   flex-direction: row-reverse;

}

table{
    
    margin-left: 55px;
    margin-top: 70px;
    width: 1200px;
}

thead{
    font-weight: 500;
    text-align: left;
    position: relative;
    text-emphasis: none;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;
    
}

.bucket-search{
     text-align: left;
    position: relative;
    align-items: start;
    align-self: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: var(--hoarse-green);
    border-style:ridge;
    border-radius: 5px;
    border-width: 1px;
    padding-left: 5px;
}
th{
    padding: 0px 10px;
    text-emphasis: none;
    text-decoration: none;
    font-style: normal;
    font-weight: lighter;

}

tbody{
    
    text-align: left;
    position: relative;
    font-weight: 400;
}

td{
    word-break: break-word;
    font-weight: normal;
    text-align: left;
    padding: 0px 10px;
    margin: 0px;
    border-collapse: collapse;
    position: sticky;
    top: 0px;
    left: 0px;
      z-index: 2;
    vertical-align: middle;
}

tr{
    height: 40px;
}

.tName{
    width: 270px;
}
.tInput{
    width: 270px;
}
.tconnection{
    width: 130px;
}
.tstatus{  width: 130px;}
.tbattery{
    width: 130px;
}
.tdate-created{
    width: 260px;
}

.middle-margin{
    margin-left: 33vw;
}

 .rows {
    /*line-height: 40px;*/
   /* margin-right: 2rem;*/
   
   transition: background 0.8s;
   background-position: center;
   cursor: pointer;
   margin-top: 8px;
    background: white;
  }

.new-row {
  
  background-color: #ffeaa7;
  
}

@keyframes highlightFade {
  0% {
    background-color: #ffd54f;
  }
 
  100% {
    background-color: transparent;
  }
}