.p3{
    padding: 16px !important;
}

.flex {
    display: flex;
}

.full-width{
    width: 100%;
}

.p4{
    padding: 12px !important;
}


.header{
    font-size: medium;
    color: var(--heavy-green);
    font-weight: 800;
    padding-left: 10px;
    padding-bottom: 20px;
}
.container {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 100%;
    transition: opacity 0.3s;
    overflow: hidden;
}

.menu {
    overflow: auto hidden;
    height: 40px;
    flex-wrap: wrap;
    white-space: nowrap;
    background: rgb(242, 242, 243);
    display: inline-block;
}

.menu-item{
   
        cursor: pointer;
        position: relative;
        padding: 8px 25px;
        margin-left: 0px;
        white-space: nowrap;
        min-height: 40px;
        background-color: transparent;
        border-width: 3px 1px 1px;
        border-style: solid;
        border-color: transparent;
        border-image: initial;
        border-radius: 3px 3px 0px 0px;
        display: inline-block;
        transition: background-color 0.1s;
        color: rgb(77, 71, 71) !important;
    
}

.menu-item:hover{
    background-color: white;

}

.menu-item.clicked{
    background-color: white;
    
    
    border-width: 3px 0px 0px 0px;
    border-color: var(--heavy-green);
    z-index: 100;
}