 .connector-box {
  display: inline-flex;
  vertical-align: bottom;
  flex: 1 1 0%;
  width: 100% !important;
  min-width: 100% !important;
  animation: 0.3s cOuFUB;
  height: auto;
}
.lbFOcn {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-color: var(--button-hower-dark-hoarse-green) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-image: none;
  background: rgb(255, 255, 255);
  transition: box-shadow 0.1s ease-out !important;
  cursor: pointer;
  height: 180px;
  border-radius: 3px;
}

.img-container {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 100px;
}


img {
  width: auto;
  max-height: 60px;
  max-width: 150px;
}

.YnYqf {
    margin-top: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  min-height: 200px;
  flex: 1 1 0%;
}

.grid {
  padding: 10px;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
  margin: 0px 5px;
}