

.form-container{

    margin-left: 75px;
    margin-top: 90px;
    width: 1200px;
}

.flex{
    display: flex;
    gap: 15px;
}


.bar-button{
    background-color: var(--hoarse-green);
    color: White;
    text-align: center;
    border-radius: 8px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    height: 30px;
    border: none;
    


}
.bar-button:hover{
    background-color: var(--button-hower-dark-hoarse-green);
    cursor: pointer;
}
