.half-width{
    width: 30%;
}

.flex{
    display: flex;
}

.p3{
    padding: 16px !important;
}


.flex.column {
    flex-direction: column;
}


.sticky {
    height: fit-content;
    position: sticky;
    top: 16px;
}

.sidebar-link {
    border-bottom: 1px solid;
    color: #5ca47a;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    margin-right: 24px;
    min-width: 230px;
    padding: 16px 24px;
    white-space: nowrap;
    display: block;
    white-space-collapse: collapse;
}


.sidebar-link.active {
    background: rgba(255, 194, 0, .251);
    font-weight: 700;
}

.sidebar-link:hover{
    background: rgba(255, 194, 0, .251);
}

.disabled {
    cursor: default;
    opacity: .3;
    pointer-events: none;
}