:root{
    --light-green: #4cd964;
    --stronger-green: #07bc0c; 
    --hoarse-green: #5ca47a;
    --border-green: #a8cf45;
    --hower-green: #f8fcec; 
    --logo-lighter-green: #b0cc44 ;
    --logo-hoarse-green: #60a47c ;
    --button-hower-dark-hoarse-green: #407454 ;
  
    --fond-biljaka-backround-green: #E8F2CE ;
    --fond-biljaka-letters: #5D6152 ;
    --fond-biljaka-istackani-deo: #C5CEAF ;
   
    --logo-yellow:#ffcc2c;
    --light-hower-yellow:#fff4bc; 
  
    --whiteish-background: #e0e0e0;
    --graysh-background: #fafafa;
    --gray-letters: #686464; 
    
  }

  .loader-container{
    position: relative;
  }